# Ignore build output
/dist/

# Ignore node_modules
/node_modules/

# Ignore lock files
package-lock.json
yarn.lock

# Ignore editor configs
.vscode/
.idea/
*.swp

# Ignore lint and formatting cache
.stylelintcache

# Ignore Prettier ignore file itself
.prettierignore
